body{
    background-color: lightpink;

}
section{
    text-align: center;
    width: 500px;

}
div{
    width: 600px;

    margin-left: 450px;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
table{
    width: 800px;
}
div{
    background-color: #eeccd0;
}
#f{
    width: 800px;
    margin-left: 350px;
}
hr{
    border: dotted 3px;
}